<p>{{ 'General_HelloUser'|translate(login) }}</p>
<p><strong>{{ 'UsersManager_AuthTokenNotificationEmailReminder'|translate(rotationPeriod)|raw }}</strong></p>
<p>{{ 'UsersManager_AuthTokenNotificationEmail01'|translate('<strong>', rotationPeriod, '</strong>')|raw }}</p>
<p>{{ 'UsersManager_AuthTokenNotificationEmail02'|translate('<strong>', tokenName|escape, '</strong>', '<strong>', tokenCreationDate, '</strong>')|raw }}</p>
<p>{{ 'UsersManager_AuthTokenNotificationEmail03'|translate|raw }}</p>
<p>{{ 'UsersManager_AuthTokenNotificationEmail04'|translate|raw }}</p>
<a href="{{ manageAuthTokensLink|escape('html_attr') }}">{{ 'UsersManager_AuthTokenNotificationEmail05'|translate|raw }}</a>
