<p>{{ 'General_HelloUser'|translate(login) }}</p>
<p><strong>{{ 'UsersManager_AuthTokenExpirationWarningEmailReminder'|translate(expirationWarningPeriod) }}</strong></p>
<p>{{ 'UsersManager_AuthTokenExpirationWarningEmail01'|translate('<strong>', tokenName|escape, '</strong>', '<strong>', tokenExpirationDate, '</strong>')|raw }}</p>
<p>{{ 'UsersManager_AuthTokenExpirationWarningEmail02'|translate }}</p>
<p>{{ 'UsersManager_AuthTokenExpirationWarningEmail03'|translate }}</p>
<a href="{{ manageAuthTokensLink|escape('html_attr') }}">{{ 'UsersManager_AuthTokenExpirationWarningEmail04'|translate }}</a>
